/* Global styles */

html, body {               
    font-size: 16px;
    font-family: 'Segoe UI', "Helvetica Neue", sans-serif N Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
    height: 100%;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.8em;
    background: #333;
}

body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 0.2em;
}



@media(max-width: 500px) {
    html, body {
        x-font-size: 14.5px;
    }
}
h1, h2, h3, h4,h5,h6,.page-header-text {
    font-weight: 600;
}
h1 {
    font-weight: 600;
    font-size: 1.8em;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    color: #555;
}
h2 {
    font-size: 1.5em;
    color: #444;
}
h3 {
    font-size: 1.25em;
    color: #2B547E;    
}
h4 {
    font-size: 1.13em;
    color: #2B547E;    
}
h5
{
    font-size: 1.06em;
}
h6
{
    font-size: 1em;
}
input[type=text], textarea, select, .form-control, .form-select {
    font-weight: 600;
    color: #656565;
    font-family: 'Trebuchet', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

option {
    padding: 4px 3px;
    border-radius: 3px;
}
footer {
    margin: 30px 0 12px;
    padding: 10px;
    border-top: 1px solid silver;
    font-size: 0.85em;
}

.table-dark-headers tr th {
    background: #686868; 
    color: white;   
} 
    .table-dark-headers tr th a, .table-dark tr th a:visited {
        text-decoration: none;
        color: cornsilk;
    }

code {
    background: #eee;
    color: #333;
    padding: 2px 5px;
    font-weight: 600;
    font-family: consolas,monospace;
    border-radius: 3px;
}

pre {
    font-family: consolas,monospace;
    font-size: 0.875em !important;
    font-weight: normal;
    line-height: 1.45;
    background: #f2f2f2;
    color: #333;
    margin: 7px 0 !important;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 4px;
    
    overflow-x: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
    pre.no-container {
        border: none;
        padding: 0;
    }

pre code {
    white-space: pre;    
    font-weight: normal;
    background: transparent;
    padding: 0.8em !important;
}

blockquote {
    background: #ecf5ff;
    font-size: 1.04em;
    padding: 10px 10px 10px 20px !important;
    margin: 1.1em 1.3em 1.1em 1em;
    border-left: 8px #507bac solid;
    border-radius: 4px 0 0 4px;
}
blockquote>p:last-child { margin: 0;}

strong, b {
    font-weight: 600;
}
img {
    max-width: 100%;
}
label {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
.label-note {
    font-size: 0.775em;
    font-weight: normal;
    font-style: italic;
}

/* Font-awsome based radios and checkboxes */

/* Font-awsome based radios and checkboxes */
input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;    
    padding: 0;
    margin: 0;
    position: absolute;    
}

    input[type=radio].with-font ~ label:before,
    input[type=checkbox].with-font ~ label:before {
        font-family: 'Font Awesome 5 Free';
        content: "\f111"; /* fa-circle-thin */
        letter-spacing: 10px;
        font-size: 1.2em;
        color: #535353;
    }

    input[type=radio].with-font:checked ~ label:before {
        content: "\f00c"; /* fa-check */        
        color: darkgreen;        
        font-weight: 600;
    }
    input[type=radio].with-font ~ label:before {
        content: "\f111"; /* fa-circle */
        font-weight: 500;
    }

    input[type=checkbox].with-font ~ label:before {
        content: "\f0c8"; /* fa-square-o */   
        font-weight: 400;
    }

    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f14a"; /* fa-check-square */
        color: green;            
    }

/* BootStrap overrides */
a {
    color: #0075d9;
    text-decoration: none;
}
a:hover {
    color: #36a2fd;
}
label {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.panel-heading {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 2em;
}
.btn-primary {
    background-color: #337ab6;
    border-color: #337ab6;
}
.table th {
    font-weight: 600;
    border-bottom: none;
}
.well {
    margin: 0.8em 0;
    padding: 0.8em;
    background: #f2f2f2;
    border-radius: 0.5em;
    border: 1px solid #eee;
    background: linear-gradient(to bottom #eee, #f4f4f4 100%);
}
.card-header {
    font-weight: 600;
}
.badge-super {
    font-size: 0.7rem !important;  
    vertical-align: super;
}

/* Bootstrap Color overrides */
.bg-info {
    background-color: #6ba3d1 !important;
}
.text-info {
    color: #6ba3d1 !important;
}
.text-success {
    color: #00c200 !important;
}
.bg-success {
    background-color: #00c200 !important;
}
.text-danger {
    color: firebrick !important;
}
.text-warning {
    color: darkgoldenrod;
}
alert-info {
    background: #6ba3d1 !important;
}

/* font-awesome overrides - legacy icons*/
.fa-right-padding {
    padding-right: 0.4em;    
}
.fa-warning:before {
    content: "\f071";
}
.fa-gear :before {
    content: "\f013";
}
.fa-gears :before {
    content: "\f085"; 
}

/* 
    fix table background issues with bootstrap 
    so we can override the background on inner elements 
*/
.table>:not(caption)>*>* {
    background: inherit;
}

/* Common CSS */

.right{ 
    text-align: right;
}
.number {
    text-align: right;
}
.date { width: 7.9em }
.date-time { width: 14em }

input[type=number] {
    text-align: right;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.text-red {
    color: firebrick;
}

.text-lowlight {
    color: #999;
}
.text-larger {
    font-size: 1.08em;
}
.text-big {
    font-size: 1.2em;
}
.table-bordered-outer {
    border: 1px solid #eee;
}
/* hidden and out of the document flow */
.hidden {
    display: none !important;
}
/* hidden display, but still part of document flow */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; 
}

/* hidden in below tablet and phone (-xs) sizes respectively */
.hidable, .hidable-xs {   }


/* flows child elements evenly to fill 100%*/
.responsive-container {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}
.responsive-container>* {
    margin-right: 0.5em;
    width: 100%;
}
.responsive-container>*:last-child {
    margin-right: 0;
}

.stackable {
}
@media(max-width: 767px) {
    .responsive-container {
        flex-direction: column;        
    }
        .responsive-container>* {
            margin-right: 0 !important;
            margin-left: 0 !important;
            margin-top: 0.5em;
            width: 100% !important;
        }
    .stackable {
        display: block;
        margin-top: 0.5em;        
    }
}

/* West Wind Component Features */

.error, .red-highlight, .binding-error {
    color: firebrick;
    font-weight: bold;
}
.error-inline {
    color: firebrick;
    display: inline;    
}
.errorhighlight {
    border-color: firebrick;
}
.binding-error {
    padding: 5px 0;
    font-size: 0.85em;
}
.highlight {
    background: #c6f1c6 !important;
}
.title-bar {
    position: absolute;
    top: 2px;
    left: 40px;
    z-index: 11;
}
.title-bar.no-slide-menu {
    left: 5px;
}
.title-bar-icon {
    height: 45px; 
    float: left
}

/* item list specific */
.item-container {
    display: flex;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5em;
}
.item-image {
    flex: none;
    width: 20%;
    min-width: 140px;
    max-width: 220px;
    padding-top: 0.5em;
}

.item-image img {
    width: auto;
    max-width: 70%;
}
.item-title {
    font-weight: 500;
    color:  #606060;
}
.item-price {
    display: inline;
}
.item-abstract {
    flex: 1;
    width: auto;
}

.search-box {
    width: 13em;
    background-color: #fff;
    background-image: url(../images/search_box.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    vertical-align: center;
    padding-left: 27px !important;
    margin-right: 5px;
    margin-top: 4px;
    z-index: 100;
}
::-webkit-input-placeholder, ::placeholder {
    opacity: .50 !important;
    font-size: 0.8em;
    font-weight: 600;
}



@media(max-width: 600px) {
    .item-container {
         flex-direction: column;
     }

     .item-image {
         flex: none;
         width: auto;
         margin-bottom: 0.5em;
     }

     .item-image img {
         padding: 5px 0;
     }
 }



.list {
    border: 1px #eee solid;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.list-header {
    font-size: 1.1em;
    font-weight: 600;
    padding: 14px;
    background: #656565;
    color: #eee;
    border-radius: 4px 4px 0 0;
}

.list-item {
    padding: 12px;
    border-bottom: 1px solid #eee;
}
.list-item-header {
    font-weight: 600;
    font-size: 1.1em;
}

    .list-item.alternate {
        background: #f2f2f2;
    }

    .list-item.active {
        background: lightsteelblue;
    }

/* Banner */
.banner {
    background: #535353;
    color: #dfdfdf;    
    position: fixed;
    x-opacity: .95;
    top: 0;
    left: 0;
    padding-top: 0.2em;
    height: 3.5em;    
    width: 100%;
    z-index: 2001;
    /*
    box-shadow: 1px 1px 20px #828282;*/
}
.banner.active {
    color: white;
    font-weight: bolder;
}
    .banner nav {
        display: inline-block;
        margin-right: 3px;
        padding: 4px;
    }

.banner nav>a, .banner nav input, .banner nav .dropdown {
    display: inline-block;
    padding: 11px 6px 6px;
    color: #eee;    
    margin-top: 0px;
    text-decoration: none;
    border-bottom: solid 4px transparent;
}

.banner nav>a img {
    height: 24px;
    vertical-align: top;
}

.banner nav>a:hover, .banner nav>.dropdown:hover {
    color: white;
    background: #767676;
    text-decoration: none;
    border-bottom: solid 4px silver;
    border-radius: 2px;
}

.banner nav>a.active, .banner nav a.selected {
    color: white;
    font-weight: bold;
    border-bottom: solid 4px orange;
    border-radius: 2px;
}
    .banner nav>.dropdown a, .banner nav .dropdown a:hover {
        border-bottom: none;        
    }
    .banner nav>.dropdown a:hover {
        background: #999;
    }

.banner-bottom {
    position: fixed;
    bottom: 0;
    top: auto;
    text-align: center;
    padding-top: inherit;
    height: 2em;
    display: none;
}

.banner-bottom a {
    margin: 0 20px;
}
.banner .dropdown-item:hover {
    background: steelblue;
}
.search-bar {
    background: #444;
    width: 100%;
    padding: 0.3em 0.5em;
    height: 2.5em;
    margin:0;
}
.slide-menu {
    font-size: 0.875em;
    width: 0;
         
    /* fixed in small sizes - block in expanded large sizes */
    position: fixed;
    top: 6.75em;
    left: 0;
    bottom: 0;

    background: #535353;
    background: linear-gradient(to bottom, #535353 0, #707070 100%);
    transition: width 0.50s ease-out;
    white-space: nowrap;
    
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2000;
}
    .slide-menu.active {
        width: 250px;
    }
    .slide-menu.nosearchbar
    {
        top: 4.03em;
    }
       
.slide-menu a, .slide-menu a:visited, .slide-menu a:hover {
    text-decoration: none;
    color: white;
    display: block;    
    padding: 10px;
    overflow-x: hidden;
    border-bottom: 1px solid #777;
}
.slide-menu a.indented {
    margin-left: 25px;
}
    .slide-menu a:hover {
        background: #eee;
        background: linear-gradient(to bottom, #888 0, #696969 100%);        
    }
    .slide-menu a.disabled, .slide-menu a.disabled:hover {
        background: transparent;
        color: #ccc;
    }
    .slide-menu a.header, .slide-menu a.header:hover {
        background: transparent;
        color:  floralwhite;
        font-weight: 600;
        background: #606060;
    }
a.slide-menu-toggle-close, a.slide-menu-toggle-close:hover {
    background: transparent;
    color: white;
    width: 40px;
    font-size: 1.2em;
    padding: 5px;   
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 7px;
    
    border-bottom: 0 none !important;
}
a.slide-menu-toggle-open, a.slide-menu-toggle-open:hover {
    position: absolute;
    text-decoration: none;
    top: 15px;
    left: 8px;
    font-size: 1.4em;     
    color: white;
    padding-right: 10px;
    margin-bottom: 10px;
    border-bottom: none;    
}
.slide-menu-toggle-open.no-slide-menu {
    display: none;
}

@media(min-width: 1100px) {
    .slide-menu, .slide-menu .active {
        width: 250px;
        
        position: fixed
    }
    #MainView {
        padding: 20px 1%;
        padding-left: 290px;
    }
    a.slide-menu-toggle-close, a.slide-menu-toggle-open {
        display: none;
    }
}


.slide-menu::-webkit-scrollbar {
    width: 0.5em;
    background: #333;
}

.slide-menu::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 0.2em;
}

/* West Wind Main Page Layout */

#MainView {
    width: 100%; 
    height: 100%;
    padding-top: 3.5em;
}
#MainView.fixed {
    position: absolute;
    left: 0;
    top: 6.85em;
    bottom: 0;
    padding-top: 0px;
    width: 100%;
    z-index: 11;        
    -webkit-overflow-scrolling: touch;
}

.page-header-text {
    font-size: 1.52em;    
    color:  #0092d0;
    padding-bottom: 0.35em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #e1e1e1;
}
h3.page-header-text {
    margin-top: 1.2em;
    font-size: 1.20em;
}
h4.page-header-text {
    margin-top: 1em;
    font-size: 1.1em;
}
.header-byline {
    font-size: 0.75em;
    font-style: italic;
    color: #888;
}

.separator {
    padding: 3px 0;
    margin: 10px 0 15px 0;
    border-bottom: solid 1px #e1e1e1;
}
.scrollbox {    
    min-height: 200px;
    overflow-y: scroll;
}
.margin-top {
    margin-top: 25px;
}
.margin-top-2x {
    margin-top: 50px;
}
.margin-bottom {
    margin-bottom: 25px;
}
.margin-bottom-2x {
    margin-bottom: 40px;
}
.margin-sides {
    margin-left: 3%;
    margin-right: 3%;
}

.margin-sides-2x {
    margin-left: 6%;
    margin-right: 6%;
}

.margin-sides-auto {
    margin-left: auto;
    margin-right: auto;
}

.record-container {
    background: #f1f1f1;
    border: 1px solid silver;
}
.record-container>.row {
    padding: 8px 12px;
    margin-right: 0;
    margin-left: 0;
}   
    .record-container>.row.alternate {
        background: white;
    }
select.invalid, textarea.invalid,
input:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=file]).invalid {
    background: lightpink;
    border-left: 5px solid red;
}
input:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=file]).valid,
select:not(.pristine).invalid, textarea:not(.pristine):not(.untouched).valid {
    background: #adfbdc;
    border-left: 5px solid green;
}
@media(max-width: 767px) {
    .container {
    	padding-left: 1em;
        padding-right: 0.7em;
    }
    .banner nav a span {
        display: none;
    }
    a.slide-menu-toggle-open,a.slide-menu-toggle-open:hover {
        display: block;
    }
    .hidable {
        display: none !important;
    }
    .record-container {
        border: none;
    }
        .record-container > .row {
            border: none;
        }
}
@media(max-width: 500px){
    .hidable-xs {
        display: none !important;
    }
	.stacked {
    	display: block;
		width: auto !important;   
    	margin-bottom: 4px;               
	}
}

.modal {
    position: absolute;
    top: 0;
    z-index: 1040;
}

.modal-dialog {
    margin: 2px auto;
}

.modal-header {
    padding: 15px 15px 5px;
}

.modal-body {
    padding: 10px 20px 5px 20px;
}



form input:not([type=submit]):not([type=checkbox]):not([type=radio]):not([type=file]):not(.ng-pristine):not(.ng-untouched).ng-invalid,
     select:not(ng-pristine).ng-invalid, textarea:not(.ng-pristine).ng-invalid
{
    background: pink;
    border-left: 5px solid red;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


 .window-overlay {
     position: fixed;
     display: flex;
     justify-content: center;
     align-items:center;
     background:  black;
     opacity:  0.9;
     top:  0; left: 0; bottom:  0; right:  0;
     height:  100%; 
 }
 .window-overlay.transparent {
     background: transparent;
 }
 
.window-overlay-dialog {
    height:  16em;
    width: 24em;
    background:  white;
    color:  black;
    border: 5px solid steelblue;
    text-align: center;
}
