@model PasswordRecoveryModel
@{
    ViewData["Title"] = "Password Recovery";
}

<div class="container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fad fa-sign-in"></i>
        Password Recovery
    </h1>
        
    <error-display error-display-model="Model.ErrorDisplay"></error-display>

    <form class="panel-body" id="form1" name="form1" asp-action="PasswordRecoverySendEmail">
        
        <p>
            @AppResources.Account.PasswordRecoveryMessageWithEmail
        </p>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-text"><i class="fas fa-fw fa-envelope"></i></span>
                <input type="email"
                       class="form-control"
                       placeholder="@AppResources.Account.EnterYourEmailAddress"
                       asp-for="Email"
                       aria-label="Email"
                       autocapitalize="off"
                       autocomplete="off"
                       spellcheck="false"
                       autocorrect="off"  />
            </div>

        </div>
        
        <div class="margin-top">
            <button id="send-button" class="btn btn-primary" 
                    type="submit"
                    [disabled]="form1.invalid || form1.pristine">
                <i id="button-icon" class="fad f  fa-check-circle"></i>
                @AppResources.Account.SendRecoveryEmail
            </button>
            
            <script>
                $("#form1").on("submit",
                    function() {
                        setTimeout(() => {
                                $("#button-icon")
                                    .removeClass("fa-check-circle")
                                    .addClass("fa-spinner")
                                    .addClass("fa-spin");

                                $("#send-button")
                                    .attr("disabled", "disabled");
                            },
                            200);
                    });
            </script>
        </div>
    </form>
</div>