@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PasswordRecoveryModel
@{
    ViewData["Title"] = "Password Recovery";
}

<div class="container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fas fa-sign-in"></i>
        Password Recovery
    </h1>
        
    <error-display error-display-model="Model.ErrorDisplay"></error-display>

    <form name="form1" asp-action="PasswordRecovery">
        
        <p>
            @AppResources.Account.PleaseEnterANewPassword
        </p>
        
        
        <div class="input-group  mb-2">
            <span class="input-group-text"><i class="fad fa-fw fa-unlock-alt"></i></span>
            <input type="password"
                   class="form-control"
                   placeholder="@AppResources.Account.EnterYourPassword"
                   asp-for="Password"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off"
                   required/>
        </div>
    
        <div class="input-group mb-3">
            
            <span class="input-group-text "><i class="fad fa-fw fa-unlock-alt"></i></span>
            <input type="password"
                   class="form-control"
                   placeholder="@AppResources.Account.VerifyYourPassword"
                   asp-for="PasswordRecovery"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off"
                   required />
        </div>
    
        <input type="hidden" asp-for="ValidationId" />

        <div >
            <button class="btn btn-primary  "
                type="submit"
                [disabled]="form1.invalid || form1.pristine">
                <i class="fas fa-check-circle fa-right-padding "></i>
                Set new Password
            </button>
        </div>
    </form>
</div>