@model UserTokenModel
@{
    ViewBag.Title = "User Token for " + Model.App;
    Layout = "_Layout";

    ViewData["NoSearchBar"] = false;
}

<h2 class="page-header-text">
    <i class="fad fa-sign-in-alt"></i>
    @Model.App User Token
</h2>

<p>
    Here's the user token generated for @Model.App:
</p>

<h2 id="UserToken">@Model.Token</h2>

    
<button  class="btn btn-secondary btn mb-3" 
         style=" vertical-align:top; "  title="Copy token to clipboard" onclick="copyToClip()">
    <i class="fad fa-copy text-warning"></i>
    Copy to clipboard
</button>   


<p>
    You can copy this user token to the clipboard and paste it into your 
    application as directed or the application may automatically detect
    the token and continue. 
</p>


<script>
        function copyToClip() {
            /* Get the text field */
            var copyText = document.getElementById("UserToken");
            var text = copyText.innerText;

            var el = document.createElement('textarea');
            el.value = text;
            document.body.appendChild(el);
            el.select();

            document.execCommand('copy');
            document.body.removeChild(el);

            toastr.success("Token copied to clipboard.");
        }
</script>