
@model WebStoreBaseViewModel

<div class="content-container" style="max-width: 600px">
    <h1 class="page-header-text">
        <i class="fas fa-sign-in"></i>
        &nbsp;Email Verification
    </h1>
    
    <error-display error-display-model="Model.ErrorDisplay"></error-display>              
        
</div>
