@model MvpPerksViewModel

@{
    ViewBag.Title = "MVP Perks";
    Layout = "_Layout";
}
<div class="container">
    <form action="" method="post">
        <h1 class="page-header-text">
            <i class="fad fa-tags"></i>
            Discount Pricing for West Wind Products
        </h1>
    
        <p>
            We know that in some locations in the world, pricing in US Dollars can be prohibitively expensive.
        </p>
        <p>
            To help make it easier and more fair to purchase a legal copy of our products,
            we offer discount pricing for many locations around the world using a simple formula <b>based
            on the <a href="https://fxssi.com/big-mac-index" target="_blank">Big Mac Index</a></b> for adjustment.

            Please fill out the form below and specify your country of residence, as well as a note to 
            describe why you think you need a discount. 
        </p>            
        <p>
            <b>Discount approval is at our discretion</b>, so please
            provide a note with brief information on why you should receive a discount. If we approve your 
            request you'll receive a discount code via email that you can use with an order to receive
            the discount.
        </p>

        <error-display error-display-model="Model.ErrorDisplay"></error-display>

        <div>
       

            <h3 class="page-header-text mb-3">
                <i class="fad fa-user"></i>
                Your Contact Info
            </h3>
        
            <div class="form-group">
                <div class="responsive-container">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fad fa-fw fa-user"></i></span>
                        <input id="txtFirstname" 
                               class="form-control"
                               aria-label="First name"
                               placeholder="First name"
                               title="First name"
                               asp-for="Firstname"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fad fa-fw fa-user "></i></span>
                        <input  id="txtLastname"
                                class="form-control" 
                                aria-label="Last name"
                                asp-for="Lastname"
                                title="Last name"
                                placeholder="Last name" />
                    </div>
                </div>
            
                <div class="form-group mt-2 mb-0">
                    <div class="input-group mb-0">
                        <span class="input-group-text"><i class="fas fa-envelope-open fa-fw"></i></span>
                            
                        <input type="email"
                               id="txtEmail"
                               class="form-control"
                               placeholder="Email address"
                               asp-for="Email"
                               aria-label="Email"
                               title="Please enter a valid email address "
                               autocapitalize="off"
                               spellcheck="false"
                               autocorrect="off" required />
                    </div>
                </div>
                
            </div>
            <div class="form-group mt-2">
              
                <div class="responsive-container">
                    <div class="input-group mb-0">
                        <span class="input-group-text"><i class="fad fa-location-dot fa-fw"></i></span>
                        <input asp-for="City"
                               class="form-control"
                               style="min-width: 280px"
                               title="City"
                               placeholder="City"/>
                    </div>
                    <div class="input-group mb-0">
                        <span class="input-group-text"><i class="fad fa-flag fa-fw"></i></span>
                        <select asp-for="CountryCode"
                                class="form-select"
                                title="Country - if not listed use 'Other' at the end of the list"
                                asp-items="@(new SelectList(wsApp.Countries, "CountryCode", "Country"))">
                        </select>
                    </div>
                </div>
            </div>
        
        
           
        
        
            <h3 class="page-header-text mb-0">
                <i class="fad fa-boxes"></i>
                Products <br />
            </h3>
            <div class="header-byline mb-2">Choose the products to request</div>
           
            <div style="margin: 20px 0 20px 30px">
                
                <label class="d-block" title="request Markdown Monster.">
                    <input type="checkbox" asp-for="ReceiveMarkdownMonster" Text="Markdown Monster"/>
                    Markdown Monster
                </label>
                
                <label class="d-block" title="request West Wind WebSurge">
                    <input type="checkbox" asp-for="ReceiveMarkdownMonster" Text="Markdown Monster"/>
                    West Wind WebSurge
                </label>

            </div>
            
            <h3 class="page-header-text">
                <i class="far fa-info-circle"></i>
                Leave us a note
            </h3>
            <textarea asp-for="CustomerNotes" Height="125px" class="form-control" 
                                placeholder="leave a brief note on why you are requesting a discounted license"></textArea>
            
    

     
        
            <button type="submit" id="btnSubmit" name="btnSubmit" runat="server" 
                    OnServerClick="btnSubmit_Click" ClientIDMode="static"
                    class="btn btn-primary btn-lg mt-3">
                <i class="fa fa-check" style="color: lightgreen"></i>
                Apply for Free Licenses
            </button>
        </div> 
    </form>
</div>