@using Westwind.Webstore.Web.App
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.ComponentModel.DataAnnotations
@model Westwind.Webstore.Web.Views.OrderFormFastViewModel

@{
    ViewBag.Title =  Model.Product.Description + " - Purchase - " + wsApp.Configuration.ApplicationName;

    // Full InvoiceModel Entity from View Model
    var product = Model.Product;
    var customer = Model.Customer;
    
}
@section HeadersBottom {
    <style>
        #LineItemTable tbody tr:nth-child(odd) {
            background: white;
        }

        .lineitem-delete {
            font-size: 0.8em;
        }
        #LineItemTable tbody tr td {
            vertical-align: top;

        }
        .lineitem-description {
            font-size: 1.02em;
            font-weight: 500;
            display: block;
        }
        #LineItemTable td:nth-child(2),
        #LineItemTable th:nth-child(2),
        #LineItemTable td:nth-child(2) input {
            width: 4.5em;
        }
        #LineItemTable td:nth-child(2) input {
            padding: 2px;
        }

        .table-wrapper {
            background: linear-gradient(to bottom, #eeeeee, White 100%);
        }
        .tiny-title {
            font-size: 0.7em;
            font-style: italic;
            color: #999;
        }
        .well {
            min-width: 250px;
            margin: 0.1em 0.8em 0.5em 0;
        }
        @@media (max-width: 500px) {
            .well {
                width: 100%;
            }
        }

        @@media (max-width: 768px) {
            #CCCardImage {
                display: none;
            }
        }
    </style>
}


<div class="container">
<form id="OrderForm" asp-action="OrderFormFast" method="post">
        
        
<h2 class="page-header-text">
    <i class="fad fa-credit-card-front"></i>
    Purchase @Model.Product.Description
</h2>
        
<error-display error-display-model="Model.ErrorDisplay">
</error-display>
        
<div id="ProductInfoHeader" class="responsive-container" style="align-items: flex-start;">
    <div style="margin-right: 10px; width: 40%;  vertical-align: top;" >
        <img src="/images/product-images/@Model.Product.ItemImage"  
             style="max-width: 300px; border-radius: 6px;"/>				
    </div>
            

    <div class="ms-3">				
        <div style="margin-bottom: 0.4em; border-bottom: 1px solid #ddd">					
            @Html.Raw(AppUtils.MarkdownToHtml(product.Abstract))
        </div>

        <div class="float-end">					
            <b style="font-size: 1.3em; padding-right: 2em;">Price:</b>
            <span class="price-label" style="font-size: 1.5em; text-align: right;">		
					    
                @if (product.ListPrice > 0 && product.ListPrice > product.Price) {
                    <s style="font-size: 0.8em;font-style: italic">$@product.ListPrice.ToString("n2")</s>
                }
                <b class="fs-3 text-danger">$@product.Price.ToString("n2")</b>
            </span>					
        </div>

        <div><small>
            <a href="/product/@Model.Product.Sku)">more info...</a>
        </small></div>
        
                
    </div>
</div>

        
<div id="Customer Information">

    <h3 class="page-header-text mt-4 mb-0">
        <i class="fad fa-user"></i> 
        Your Billing Info
    </h3>
    
    
    @if (Model.Customer.IsNew)
    {
        <a class="btn btn-primary btn-sm mb-1 mt-2"
           href="/account/signin?returnurl=@this.Context.Request.Path">
            <i class="fad fa-sign-in"></i>
            Sign into your existing account
        </a>
        <div class="small"><i>or fill out the form below to create one</i></div>
    }
    else
    {
        <div class="header-byline">as it appears on your billing statement</div>
    }

    <div class="responsive-container mt-3">
        <div class="input-group me-1">
            <span class="input-group-text"><i class="fad fa-fw fa-user"></i></span>
            <input type="text" class="form-control" 
                   title="First Name (required)"
                   placeholder="First name*" asp-for="Firstname"/>
        </div>

        <div class="input-group ms-1">
            <span class="input-group-text"><i class="fad fa-fw fa-user "></i></span>
            <input type="text" class="form-control" id="txtLastname"
                   title="Last Name (required)"
                   asp-for="Lastname" placeholder="Last name*"/>
        </div>
    </div>
            
     

    <div class="form-group mt-3 mb-3">
        <div class="input-group">
            <span class="input-group-text"><i class="fad fa-fw fa-users "></i></span>
            <input type="text"
                   class="form-control"
                   placeholder="Enter your Company"
                   asp-for="Company"
                   title="Company (optional)"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off"/>
        </div>
    </div>
            
    <div class="form-group mb-0">
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-fw fa-envelope-open"></i></span>
            <input type="email"
                   id="txtEmail"
                   class="form-control"
                   placeholder="Enter your Email address*"
                   title="Email address (required)"
                   asp-for="Email"
                   aria-label="Email"
                   title="Please enter a valid email address."
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off" required/>
            <button id="btnSendValidationEmail"
                    type="button"
                    class="btn btn-sm btn-secondary"
                    title="Validate the email address. Re-sends an email with a confirmation code.">
                <i style="font-size: 1.3em" class="far  fa-check-circle text-warning"></i>
            </button>
        </div>
                
        <div class="header-byline ">used to verify your email address. <i class="text-info">New emails or email changes need to be validated via the check button.</i></div>
    </div>
            
    <div class="responsive-container mt-3">
                
                
        <div class="input-group">
            <span class="input-group-text">
                <i class="fas fa-fw fa-map-marker-alt"></i>
            </span>
            <input type="text"
                   class="form-control"
                   title="First line of your street address (required for Credit Cards, optional for PayPal)"
                   placeholder="First line of street address (required for credit cards, optional for PayPal)"
                   asp-for="StreetAddress"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off"/>
        </div>
                
        <div class="input-group" style="width: 22em">
                   <span class="input-group-text">
                       <i class="far fa-fw fa-map-marker-alt"></i>
                   </span>
            <input type="text"
                   class="form-control" 
                   title="Zip or Postal Code"
                   placeholder="Zip or Postal Code*"
                   asp-for="PostalCode"
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off" />
        </div>

        <div class="input-group" style="width: 27em">
            <span class="input-group-text">
                <i class="fad fa-fw fa-flag"></i>
            </span>
            <select asp-for="CountryCode" 
                    class="form-select"
                    asp-items="@(new SelectList(wsApp.Countries,"CountryCode","Country"))">
            </select>
        </div>
        
    </div>
    

    @if (Model.Customer.IsNew)
    {
        <div class="input-group mt-3">
            <span class="input-group-text"><i class="fas fa-fw fa-user-secret"></i></span>
            <input type="password"
                   class="form-control"
                   placeholder="Enter a password (8 chars minimum)*"
                   asp-for="Password"
                   aria-label="Password"
                   title="Enter a password for this account. Used to access your account in the future."
                   autocapitalize="off"
                   autocomplete="off"
                   spellcheck="false"
                   autocorrect="off" required/>
        </div>
        <div class="header-byline ">used to access your account. 8 chars minimum, must include: upper case, lower case, and a number</div>
    }
</div>



    <button id="btnSubmit" name="btnSubmit" type="submit"
            class="btn-primary btn btn-lg mt-4" >
        <i class="fa fa-check-circle text-success"></i>
        Continue to Payment
    </button>
    
    <img src="/images/ccCards.png" class="d-block mt-3" alt="Credit Cards" />
    
    
        
    <input type="hidden" asp-for="@Model.Evc" />
   
</form>
</div>

@section BottomOfBody
{
    <partial name="ProgressWindowOverlay_Partial" model="new ProgressWindowOverlayModel()"/>

    @if (wsApp.Configuration.Security.ValidateEmailAddresses)
    {
        var model = new ProfileViewModel();
        model.Customer.Email = Model.Email;
        
        <partial name="/Views/Account/EmailValidationForm_Partial.cshtml" id="EmailValidationForm" model="model"/>
    }
}



@section Scripts {
    <link href="/lib/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="/lib/toastr/build/toastr.min.js"></script>
}
