@model ProgressWindowOverlayModel
<div id="ProgressWindow" style="display: none">
    <div class="window-overlay d-flex">

    </div>
    
    <div class="window-overlay transparent">
        <div class="window-overlay-dialog" style="z-index: 99999999">
            <div style="margin: 2em auto;">
                <h1 class="text-info d-block">
                    <i class="@Model.Icon text-secondary"></i>&nbsp;
                    <span id="WindowOverlayTitle">@Model.Title</span>
                </h1>
                
                <h3 class="mt-3" id="WindowOverlaySubTitle">@Model.SubTitle</h3>
            </div>
                    
            <div style="text-align: center">
                <i class="fa-duotone fa-loader fa-spin fa-4x bg-gra"></i>
            </div>
        </div>
    </div>
</div>
<script>
    
    function progressWindowShowProgress() {               
        $("#ProgressWindow").show();
        $(".window-overlay").maxZIndex();
        $(".window-overlay-dialog").maxZIndex();            
    }    
    // setTimeout(progressWindowShowProgress,1);
</script>

